@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  --color-primary: #8796EA;

  --scrollbar-thumb-radius: 5px;
  --scrollbar-thumb: var(--color-primary);
  --scrollbar-width: 5px;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
  cursor: text;
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    @apply w-0;
  }

  .scrollbar:hover::-webkit-scrollbar {
    @apply w-[5px];
  }
}
